*.mp3
*.zip
*.pyc
fast-whisper-finetuning/.ipynb_checkpoints/
fast-whisper-finetuning/reach-vb/
fast-whisper-finetuning/wandb/
downloads/
models--guillaumekln--faster-whisper-large-v2/
models--openai--whisper-large-v2/
mozilla-foundation___common_voice_13_0/
Face_Recognition/yolov5_face/*.pt
Face_Recognition/insightface/*.pth
Face_Recognition/insightface/__pycache__
Face_Recognition/static/results/*.mp4
Face_Recognition/testing_videos
Face_Recognition/input_chunks/
Face_Recognition/output_videos/
Face_Recognition/test_kenya
Face_Recognition/insightface/resnet100_backbone.pth
Face_Recognition/insightface/resnet18_backbone.pth
Face_Recognition/yolov5_face/yolov5m-face.pt
Face_Recognition/database/
Face_Recognition/audio_chunks/
STT\API/uploads/audio_segments/
AI Models/
bitsandbytes-0.37.2-py3-none-any.whl
uploads/
audio_uploads/
downloads/